<footer>
  <div class="container">
    <div class="footer">
      <div class="footer-wrap">
        <picture class="footer-logo">
          <img
            src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/logo-white.svg?v=1677694745"
            alt="logo"
          >
        </picture>
        <ul class="footer-nav dsk-none">
          <li class="footer-nav-li">
            <div class="dropdown">
              <button class="footer-nav-head footer-mob-button">
                Products
                <img
                  class="footer-arrow"
                  src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/arrow.svg?v=1677694745"
                  alt="arrow"
                  width="19"
                  height="11"
                  loading="lazy"
                >
              </button>
              <ul class="footer-nav-links-mob footer-nav-links">
                {% for link in section.settings.products_menu.links %}
                  <li>
                    <a class="footer-nav-link" href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="footer-nav-li">
            <div class="dropdown">
              <button class="footer-nav-head footer-mob-button">
                Services
                <img
                  class="footer-arrow"
                  src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/arrow.svg?v=1677694745"
                  alt="arrow"
                  width="19"
                  height="11"
                  loading="lazy"
                >
              </button>
              <ul class="footer-nav-links footer-nav-links-mob">
                {% for link in section.settings.services_menu.links %}
                  <li>
                    <a class="footer-nav-link" href="{{ link.url }}">{{ link.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </li>
          <li class="footer-nav-li">
            <div class="dropdown">
              <button class="footer-nav-head footer-mob-button">
                Contact information
                <img
                  class="footer-arrow"
                  src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/arrow.svg?v=1677694745"
                  alt="arrow"
                  width="19"
                  height="11"
                  loading="lazy"
                >
              </button>
              <ul class="footer-nav-links footer-nav-links-mob">
                <li class="footer-nav-contact">3181 Al Imam Saud Ibn Abdul Aziz Branch Rd,</li>
                <li class="footer-nav-contact">An Nuzhah, Riyadh 12474,</li>
                <li class="footer-nav-contact">Saudi Arabia</li>
              </ul>
            </div>
          </li>
        </ul>
        <ul class="footer-nav mob-none">
          <li>
            <p class="footer-nav-head">Products</p>
            <ul class="footer-nav-links">
              {% for link in section.settings.products_menu.links %}
                <li>
                  <a class="footer-nav-link" href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <p class="footer-nav-head">Services</p>
            <ul class="e--dsk footer-nav-links">
              {% for link in section.settings.services_menu.links %}
                <li>
                  <a class="footer-nav-link" href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            <p class="footer-nav-head">Contact information</p>
            <ul class="footer-nav-links">
              <li class="footer-nav-contact">3181 Al Imam Saud Ibn Abdul Aziz Branch Rd,</li>
              <li class="footer-nav-contact">An Nuzhah, Riyadh 12474,</li>
              <li class="footer-nav-contact">Saudi Arabia</li>
            </ul>
            </li>
        </ul>
      </div>
      <ul class="footer-links">
        <li>
          <a href="#">
            <picture
              ><img
                src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/facebook.svg?v=1677694745"
                alt="facebook-logo"
            ></picture>
          </a>
        </li>
        <li>
          <a href="#">
            <picture
              ><img
                src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/twitter.svg?v=1677694745"
                alt="twitter-logo"
            ></picture>
          </a>
        </li>
        <li>
          <a href="#">
            <picture
              ><img
                src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/instagram.svg?v=1677694745"
                alt="instagram-logo"
            ></picture>
          </a>
        </li>
      </ul>
      <div class="footer-copyright">
        <p class="footer-copyright-item">Copyright © 2022 | All Rights Reserved.</p>
        <p class="footer-copyright-item">Created with love by thecreation.design</p>
      </div>
    </div>
  </div>
</footer>

{% javascript %}
  const footerBtn = document.querySelectorAll('.footer-mob-button');

  if (footerBtn) {
    footerBtn.forEach((btn) => {
      btn.parentElement.addEventListener('click', (e) => {
        if (e.target.classList.contains('footer-mob-button')) {
          e.target.querySelector('.footer-arrow').classList.toggle('rotate-arrow');
          e.target.classList.toggle('active');
        } else if (e.target.classList.contains('footer-arrow')) {
          e.target.parentElement.querySelector('.footer-arrow').classList.toggle('rotate-arrow');
          e.target.parentElement.classList.toggle('active');
        }
      });
    });
  }
{% endjavascript %}

<style>
  .footer-arrow {
    max-width: 19px;
    transition: 0.3s all;
  }

  .footer-nav-links-mob {
    max-height: 0;
    transition: 0.6s all;
  }
  .dropdown .active + .footer-nav-links-mob {
    max-height: 400px;
    visibility: visible;
    transition: 0.6s all;
    margin-top: 15px;
  }

  .dropdown {
    overflow: hidden;
    position: relative;
  }

  .rotate-arrow {
    transform: rotateZ(90deg);
    transition: 0.3s all;
  }
  .footer-mob-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>

{% schema %}
  {
    "name": "footer",
    "settings": [
      {
        "type": "link_list",
        "id": "products_menu",
        "label": "Add your menu-link"
      },
      {
        "type": "link_list",
        "id": "services_menu",
        "label": "Add your menu-link"
      }
    ]
  }
{% endschema %}
