<header>
  <div class="container">
    <div class="header">
      <button class="header-icon e--mob">
        <img
          src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/mob-menu.svg?v=1677694745"
          alt="Mobile menu"
          width="24"
          height="12" />
      </button>

      <img
        class="header-logo"
        src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/logo.svg?v=1677694745"
        alt="Logo"
        width="101"
        height="36" />

      <div class="d-flex">
        <button class="header-icon e--dsk">
          <img
            src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/search.svg?v=1677694745"
            alt="Search"
            width="17"
            height="17" />
        </button>

        <nav>
          <ul class="menu d-flex">
            {% for link in section.settings.main_menu.links %}
              <li class="menu-link">
                <a class="header-link" href="{{ link.url }}">{{ link.title }}</a>

                {% if link.links.size > 0 %}
                  <ul class="menu dropdown-child">
                    {% for child_link in link.links %}
                      <li class="menu-link">
                        <a href="{{ child_link.url }}">{{ child_link.title }}</a>

                        {% if child_link.links.size > 0 %}
                          <ul class="menu dropdown-grandchild">
                            {% for grandchild_link in child_link.links %}
                              <li class="menu-link">
                                <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>

        </nav>

        <div class="header-right-nav">
          <button class="header-icon">
            <img
              src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/cart.svg?v=1677694745"
              alt="Cart"
              width="21"
              height="20" />
          </button>
          <button class="header-icon e--dsk">
            <img
              src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/heart.svg?v=1677694745"
              alt="Search"
              width="20"
              height="18" />
          </button>
          <button class="header-icon e--dsk">
            <img
              src="https://cdn.shopify.com/s/files/1/0726/7631/1323/files/user.svg?v=1677694745"
              alt="Search"
              width="15"
              height="18" />
          </button>
        </div>
      </div>
    </div>
  </div>
</header>

{% schema %}
  {
    "name": "header",
    "settings": [
      {
        "type": "link_list",
        "id": "main_menu",
        "label": "Add your menu-link"
      }
    ]
  }
{% endschema %}