{% assign title_length = section.settings.showrooms_heading | size %}
{% assign parag_length = section.settings.showrooms_parag | size %}
{% assign button_length = section.settings.showrooms_button | size %}

<section
  class="container">
  <div
    class="showrooms">
    <picture
      class="showrooms-img">
      <img
        src="{{ section.settings.showrooms_img | img_url: '1200x' }}"
        alt="Showrooms" />
    </picture>

    {% unless section.settings.showrooms_heading == blank and section.settings.showrooms_parag == blank and section.settings.showrooms_button == blank %}
      <div
        class="showrooms-info">
        {%- unless section.settings.showrooms_heading == blank -%}
          {% if title_length <= 27 %}
            <h1
              class="h2">{{ section.settings.showrooms_heading }}</h1>
          {% else %}
            {% render 'error', characters: 27 %}
          {% endif %}
        c

        {%- unless section.settings.showrooms_parag == blank -%}
          {% if parag_length <= 243 %}
            <p
              class="txt txt-20">
              {{ section.settings.showrooms_parag }}
            </p>
          {% else %}
            {% render 'error', characters: 243 %}
          {% endif %}
        {%- endunless -%}

        {%- unless section.settings.showrooms_button == blank -%}
          {% if button_length <= 46 %}
            <a
              class="button button-black"
              href="
              {%- unless section.settings.link_collections == blank -%}
                {{- section.settings.link_collections -}}
              {%- else -%}
                #
              {%- endunless -%}">
              {{ section.settings.showrooms_button }}</a>
          {% else %}
            {% render 'error', characters: 46 %}
          {% endif %}
        {%- endunless -%}
      </div>
    {%- endunless -%}
  </div>
</section>
<div
  style="display: block;"
  class="showrooms-bg"></div>

{% style %}
  .showrooms-bg {
    background-image: url('{{ section.settings.showrooms_bg_img | img_url: '1200x' }}');
  }
{% endstyle %}

{% schema %}
  {
    "settings": [
      {
        "type": "text",
        "id": "showrooms_heading",
        "label": "Change text of heading",
        "default": "Our Showrooms"
      },
      {
        "type": "textarea",
        "id": "showrooms_parag",
        "label": "Change text of paragraph",
        "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text."
      },
      {
        "type": "text",
        "id": "showrooms_button",
        "label": "Change text of button",
        "default": "Learn more"
      },
      {
        "type": "image_picker",
        "id": "showrooms_img",
        "label": "Change background image for desktop version of site"
      }, {
        "type": "image_picker",
        "id": "showrooms_bg_img",
        "label": "Change background image for mobile version of site"
      }, {
        "type": "url",
        "id": "link_collections",
        "label": "Change Link"
      }
    ]
  }
{% endschema %}